<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Duong dep trai</title>
  <meta name="title" content="Doclab - home">
  <meta name="description" content="This is a madical html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <!-- <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml"> -->

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="/images/hero-banner.png">
  <link rel="preload" as="image" href="/images/hero-bg.png">

</head>

<body id="top">

  <!-- 
    - #PRELOADER
  -->

  <!-- <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div> -->





  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="/images/NewlogoV03.png" width="250" height="45" alt="Medical Care">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="#" class="logo">
            <img src="/images/logo.svg" width="136" height="46" alt="Doclab home">
          </a>

          <button class="nav-close-btn" aria-label="clsoe menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="navbar-link title-md">Home</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link title-md">Doctors</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link title-md">Service</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link title-md">News</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link title-md">Contact</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <a href="#" class="btn has-before title-md">Make Appointment</a>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" style="background-image: url('/images/hero-bg.png')" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle has-before" data-reveal="left">Welcome to Medical Care</p>

            <h1 class="headline-lg hero-title" data-reveal="left">
              Find Nearest <br>
              Hospital
            </h1>

            <div class="hero-card" data-reveal="left">

              <p class="title-lg card-text">
                search for the nearest hospital, doctors
              </p>
                <!-- link this to the google search -->
              <div class="wrapper">

                <div class="input-wrapper title-lg">
                  <input type="text" name="location" placeholder="Địa chỉ" class="input-field">

                  <ion-icon name="location"></ion-icon>
                </div>

                <button class="btn has-before">
                  <ion-icon name="search"></ion-icon>

                  <span class="span title-md">Find Now</span>
                </button>

              </div>

            </div>

          </div>

          <figure class="hero-banner" data-reveal="right">
            <img src="/images/hero-banner.png" width="590" height="517" loading="eager" alt="hero banner"
              class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="service" aria-label="service">
        <div class="container">

          <ul class="service-list">

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-1.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="#">Examination and Treatment</a>
                </h3>
                              <div class ="vl">
                <p class="card-text">
                  Where doctors and nurses receive patients, perform examinations and recommend treatment regimens
                </p>

                <button class="btn-circle" aria-label="read more about psychiatry">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
                              </div>
              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-2.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="#">Surgery</a>
                </h3>
                              <div class ="vl">
                <p class="card-text">
                  Provide functional surgical services, support diagnosis and treatment.
                </p>

                <button class="btn-circle" aria-label="read more about Gynecology">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
                                </div> 
                
              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-3.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="#">Chẩn Đoán Hình Ảnh</a>
                </h3>
                                <div class ="vl">
                <p class="card-text">
                  Cung cấp dịch vụ chẩn đoán hình ảnh như xét nghiệm, CT scan, MRI để xem rõ bên trong cơ thể.
                </p>

                <button class="btn-circle" aria-label="read more about Pulmonology">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
                                </div>
              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-4.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="#">Phòng Mạch và Nội Trú</a>
                </h3>
                              <div class ="vl"> 
                <p class="card-text">
                  Cung cấp dịch vụ chăm sóc tại phòng mạch cho những bệnh nhân không yêu cầu nhập viện.
                </p>

                <button class="btn-circle" aria-label="read more about Orthopedics">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
                        </div>
              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-labelledby="about-label">
        <div class="container">

          <div class="about-content">

            <p class="section-subtitle title-lg has-after" id="about-label" data-reveal="left">Về chúng tôi</p>

            <h2 class="headline-md" data-reveal="left">Kinh nghiệm làm việc</h2>

            <p class="section-text" data-reveal="left">
              Chúng tôi có hàng trăm giáo sư, tiến sĩ hàng đầu các chuyên khoa trong lĩnh vực y tế. Chúng tôi cam kết mang đến chất lượng dịch vụ đẳng cấp và an toàn.
            </p>

            <ul class="tab-list" data-reveal="left">

              <li>
                <button class="tab-btn active">Tầm nhìn</button>
              </li>

              <li>
                <button class="tab-btn">Nhiệm vụ</button>
              </li>

              <li>
                <button class="tab-btn">Chiến lược</button>
              </li>

            </ul>

            <p class="tab-text" data-reveal="left">
              Mang đến trải nghiệm dịch vụ an toàn, an tâm đến với người dân Việt Nam. Luôn đặt tính mạng con người làm ưu tiên hàng đầu. 
            </p>

            <div class="wrapper">

              <ul class="about-list">

                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span">An toàn tuyệt đối</span>
                </li>

                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span">Uy tín chất lượng</span>
                </li>

                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span">Miễn phí hoàn toàn</span>
                </li>

                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span">Phục vụ tận tâm</span>
                </li>

              </ul>

            </div>

          </div>

          <figure class="about-banner" data-reveal="right">
            <img src="/images/about-banner.png" width="554" height="678" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #LISTING
      -->

      <section class="section listing" aria-labelledby="listing-label">
        <div class="container">

          <ul class="grid-list">

            <li>
              <p class="section-subtitle title-lg" id="listing-label" data-reveal="left">Giáo sư</p>

              <h2 class="headline-md" data-reveal="left">Đội ngũ bác sĩ</h2>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-1.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Nội khoa</h3>

                  <p class="card-text">Nguyễn Đình Dương</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-2.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Cấp cứu</h3>

                  <p class="card-text">Nguyễn Đình Dương</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-4.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Cấp cứu</h3>

                  <p class="card-text">Lê Hoàng Huy</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-5.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Nhi Khoa</h3>

                  <p class="card-text" style="font-size: 11px;">Nguyễn Trọng Minh Phương</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-6.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Ngoại khoa</h3>

                  <p class="card-text">Trần Việt Anh</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-7.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Tim Mạch</h3>

                  <p class="card-text">Lê Hoàng Huy</p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->

      <section class="section blog" aria-labelledby="blog-label">
        <div class="container">

          <p class="section-subtitle title-lg text-center" id="blog-label" data-reveal="bottom">
            Tin tức & Báo mới
          </p>

          <h2 class="section-title headline-md text-center" data-reveal="bottom">Tin tức hôm nay</h2>

          <ul class="grid-list">

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">Nguyễn Đình Dương</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Giáo Sư</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Phương pháp chữa khỏi tất cả các bệnh ung thư</h3>

                <time class="title-sm date" datetime="2022-01-28">29 Tháng 1, 2030</time>

                <p class="card-text">
                  Đã tìm ra được phương pháp chữa khỏi tất cả các bệnh ung thư bằng cách giải quyết 
                  mã gen thông qua phân tích và ngăn chặn sớm các mã gen đột biến.
                </p>

                <a href="#" class="btn-text title-lg">Đọc thêm</a>

              </div>
            </li>

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">Nguyễn Trọng Minh Phương</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Giáo Sư</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Chữa trị HIV hoàn toàn</h3>

              <time class="title-sm date" datetime="2022-01-28">29 Tháng 1, 2030</time>

                <p class="card-text">
                  Kết quả nghiên cứu mới của GS Nguyễn Trọng Minh Phương về cơ chế cấy ghép tế bào gốc có thể chữa khỏi
                  HIV hoàn toàn mà không để lại bất cứ di chứng nào.
                </p>

                <a href="#" class="btn-text title-lg">Đọc thêm</a>

              </div>
            </li>

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta" >
                    <ion-icon name="person-outline"></ion-icon>
                    <span class="span">NGUYỄN ĐÌNH DƯƠNG</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Giáo Sư</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Công nghệ kéo dài tuổi thọ</h3>

                <time class="title-sm date" datetime="2022-01-28">29 Tháng 1, 2030</time>

                <p class="card-text">
                  Công nghệ kéo dài tuổi thọ đã được chứng minh là có hiệu quả trên người. 
                  Đây là một bước tiến đột phá trong việc kéo dài tuổi thọ của con người lên đến hơn 400-500 tuổi.
                </p>

                <a href="#" class="btn-text title-lg">Đọc thêm</a>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('/images/footer-bg.png')">
    <div class="container">

      <div class="section footer-top">

        <div class="footer-brand" data-reveal="bottom">

          <a href="#" class="logo">
            <img src="/images/NewlogoV03.png" width="136" height="46" loading="lazy" alt="Doclab home">
          </a>

          <ul class="contact-list has-after">

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="mail-open-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Email chính : <a href="4aesieunhan@gmail.com" class="contact-link">4aesieunhan@&shy;gmail.com</a>
                </p>

                <p>
                  Khiếu nại : <a href="4aesieunhan@gmail.com" class="contact-link">khieunai@&shy;gmail.com</a>
                </p>
              </div>

            </li>

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Số điện thoại bàn : <a href="tel:0029129102320" class="contact-link">0029129102320</a>
                </p>

                <p>
                  Điện thoại cá nhân : <a href="tel:000232439493" class="contact-link">000 2324 39493</a>
                </p>
              </div>

            </li>

          </ul>

        </div>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">Về chúng tôi</p>

          <p class="text">
           Bệnh viên top 1 Việt Nam: Uy tín, an toàn, chất lượng.
          </p>

          <address class="address">
            <ion-icon name="map-outline"></ion-icon>

            <span class="text">
              Số 1 Đại Cồ Việt<br>
              Hai Bà Trưng, Hà Nội, Việt Nam
            </span>
          </address>

        </div>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Dịch vụ</p>
          </li>

          <li>
            <a href="#" class="text footer-link">Điều kiện</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Danh sách</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Cách thức hoạt động</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Đề nghị hợp tác</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Tin mới nhất</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Liên lạc</a>
          </li>

        </ul>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Links hữu ích</p>
          </li>

          <li>
            <a href="#" class="text footer-link">Điều khoản</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Điều khoản sử dụng</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Dịch vụ của chúng tôi</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Tham gia ứng tuyển</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Danh sách bác sĩ</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Danh sách phòng ban</a>
          </li>

        </ul>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">Đăng kí</p>

          <form action="" class="footer-form">
            <input type="email" name="email" placeholder="Email" class="input-field title-lg">

            <button type="submit" class="btn has-before title-md">Đăng kí</button>
          </form>

          <p class="text">
           Gửi cho chúng tôi email để nhận thêm tư vấn miễn phí.
          </p>

        </div>

      </div>

      <div class="footer-bottom">

        <p class="text copyright">
          &copy; Medical Care 2023| DatabaseLabs Project  
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>