<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Make Appointment Health Care</title>
    <link rel="stylesheet" href="/css/makeAppointment.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">

        <div class="title"> 
        Make Appointment
        </div>

    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="Enter your address" required>
          </div>
          <div class="input-box">
            <span class="details">DOB</span>
            <input type="date" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Date Appointment</span>
            <input type="date" required>
          </div>
          <div class="input-box">
            <span class="details">Hour Appointment</span>
            <select class="Select" required>
              <option value="" disabled selected>Select an hour</option>
              <option value="7:00AM">7:00AM</option>
              <option value="8:00AM">8:00AM</option>
              <option value="9:00AM">9:00AM</option>
              <option value="10:00AM">10:00AM</option>
              <option value="11:00AM">11:00AM</option>
              <option value="12:00PM">12:00PM</option>
              <option value="1:00PM">1:00PM</option>
              <option value="2:00PM">2:00PM</option>
              <option value="3:00PM">3:00PM</option>
              <option value="4:00PM">4:00PM</option>
              <option value="5:00PM">5:00PM</option>
              <option value="6:00PM">6:00PM</option>
              <option value="7:00PM">7:00PM</option>
              <option value="8:00PM">8:00PM</option>
              <option value="9:00PM">9:00PM</option>
              <option value="10:00PM">10:00PM</option>
              <option value="11:00PM">11:00PM</option>
              <option value="12:00AM">12:00AM</option>
              <!-- Add more hours if needed -->
            </select>
          </div>
          
          <div class="input-box">
            <span class="details">Service</span>
            <select class ="Select" required>
                <option value="" disabled selected>Select a service</option>
                <option value="emergency">Emergency Care</option>
                <option value="radiology">Radiology Services</option>
                <option value="surgery">Surgical Procedures</option>
                <option value="maternity">Maternity Care</option>
                <option value="pharmacy">Pharmacy Services</option>
                <option value="physical_therapy">Physical Therapy</option>
                <option value="cardiology">Cardiology Services</option>
                <!-- Add more services if needed -->
              </select>
          </div>
          <div class="input-box">
            <span class="details">Doctor</span>
            <select class ="Select" required>
                <option value="" disabled selected>Select a doctor</option>
                <option value="emergency">Nguyen Dinh Duong</option>
                <option value="radiology">Le Hoang Huy</option>
                <option value="surgery">Tran Viet Anh</option>
                <option value="maternity">Nguyen Trong Minh Phuong</option>
                <!-- Add more services if needed -->
              </select>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>